/* Estilo geral */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    overflow-y: scroll; /* Permite rolagem vertical */
}

#matrix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#matrix-text {
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow: hidden;
}

#back-to-index {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: limegreen;
    text-decoration: none;
    font-size: 16px;
}

#back-to-index:hover {
    text-decoration: underline;
}

#back-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.matrix span {
    position: absolute;
    top: -50px;
    color: #00FF00;
    font-size: 20px;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: 100%;
    }
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#info-container {
    position: relative;
    top: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00FF00;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: calc(100% - 100px);
    max-width: 800px;
}

#info-text {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    animation: fadeIn 1s ease-out; /* Removed glitchText animation */
}

#video-container {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    z-index: 1000;
}

video {
    width: 100%;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glitchText {
    0% { opacity: 1; }
    20% { opacity: 0.8; transform: skewX(10deg); }
    40% { opacity: 1; transform: skewX(-10deg); }
    60% { opacity: 0.8; transform: skewX(5deg); }
    80% { opacity: 1; transform: skewX(-5deg); }
    100% { opacity: 1; }
}

#info-container, #video-container {
    animation: fadeIn 1s ease-out;
}
